* {
  padding: 0;
  margin: 0;
}

:root {
  --blue: #2eb5ea !important;
  --green: #46c940 !important;
}

nav.navbar .container-fluid {
  background-color: var(--blue);
}

.section {
  margin-top: 5%;
}

a {
  text-decoration: none;
}

/* Icon */
span.material-symbols-outlined {
  vertical-align: middle;
}

/* Study Session Card */
div.card-container {
    padding: .5rem;
}

/* Session Form */
.session-form form {
  width: 50%;
}

.session-info {
  margin-top: 3%;
}

.form-title {
  text-align: center;
}

.form-button {
  text-align: center;
}

/*button.btn {
background-color: var(--green);
border: none;
}*/
