* {
  padding: 0;
  margin: 0;
}

:root {
  --blue: #2eb5ea !important;
  --pink: #F94C66 !important;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-weight: 400;
}

/* Logo */
a.navbar-brand {
  font-family: 'Pacifico', cursive;
}

nav.navbar .container-fluid {
  background-color: var(--blue);
}

.section {
  margin-top: 5%;
}

a {
  text-decoration: none;
}

/* Icon */
span.material-symbols-outlined {
  vertical-align: middle;
}

/* Study Session Card */
div.card-container {
    padding: .5rem;
}

/* Session Form */
.session-form form {
  width: 50%;
}

.session-info {
  margin-top: 3%;
}

.form-title {
  text-align: center;
}

.form-button {
  text-align: center;
}

.form-button button {
  background-color: var(--pink);
  border: none;
}

/* Log In */
.login-form form {
  width: 30%;
}

.section.login-form {
  margin-top: 12%;
}
