* {
  padding: 0;
  margin: 0;
}

.section {
  margin-top: 5%;
}

a {
  text-decoration: none;
}

span.material-symbols-outlined {
  vertical-align: middle;
}

/* Session Form */
.session-form form {
  width: 50%;
}

.session-info {
  margin-top: 3%;
}

.form-title {
  text-align: center;
}

.form-button {
  text-align: center;
}
