<h1>Want to find a friend to study with? Do it here with us!</h1>




<h3>Login</h3>
<form action="/login" method="POST">
	<input placeholder="Username" autocomplete="off" type="text" name="Username">
	<input placeholder="password" autocomplete="off" type="text" name="password">
	<input type="submit" name="Login">
</form>



<hr>

<h3>Register</h3>
<form action="/login" method="GET">
	<!-- <input placeholder="Name" autocomplete="off" type="text" name="name"> -->
	<input placeholder="realname" autocomplete="off" type="text" name="Your Name">
	<input placeholder="Username" autocomplete="off" type="text" name="Username">
	<input placeholder="password" autocomplete="off" type="text" name="password">
	<input placeholder="Phone Number" autocomplete="off" type="tel" name="phonenum">
	<input type="submit" name="Register">
</form>

<!-- <a class="nav-link" href="{{url_for('create_study_session')}}">Log In</a> -->
<!-- <a class="nav-link" href="{{url_for('create_study_session')}}">Log In</a> -->